<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Expert Opinions 🧠</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='index.css') }}">
</head>

<body>
    <h1>Expert Opinions 🧠</h1>
    <form id="provision-form">
        <label for="subject">Subject Expertise:</label>
        <input type="text" id="subject" name="subject">
        <button type="submit">Provision AI Assistant</button>
    </form>

    <div id="chat-container">
        <div id="assistants-container"></div>
        <div id="chat-box" class="chat-box-center"></div>
    </div>
    <form id="chat-form">
        <input type="text" id="message" name="message" required>
        <button type="submit">Send</button>
    </form>

    <!-- Loading spinner -->
    <div id="loading-spinner" class="spinner" style="display: none;"></div>

    <script>
        var threadID = ""; // global thread id for conversation
        document.addEventListener('DOMContentLoaded', function () {
            // Send an API request on page load to initialize the general assistant
            fetch('/startConversation', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify({ subject: 'general' })
            }).then(response => response.json())
                .then(data => {
                    document.getElementById('chat-box').innerHTML += `<p>${toTitleCase(data["subject"])} ${data["message"]}</p>`;
                    threadID = data["threadID"];
                });
        });

        document.getElementById('provision-form').addEventListener('submit', function (e) {
            e.preventDefault();
            const subject = document.getElementById('subject').value;
            fetch('/provision', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify({ subject, threadID: threadID })
            }).then(response => response.json())
                .then(data => {
                    const assistantsContainer = document.getElementById('assistants-container');
                    const tabButton = document.createElement('button');
                    tabButton.className = 'tab-button';
                    tabButton.id = `tab-${subject}`;
                    tabButton.innerHTML = `${toTitleCase(subject)}`;
                    tabButton.onclick = function () {
                        const assistantDiv = document.getElementById(`assistant-${subject}`);
                        assistantDiv.classList.toggle('visible');
                    };
                    assistantsContainer.appendChild(tabButton);

                    const assistantDiv = document.createElement('div');
                    assistantDiv.className = 'assistant';
                    assistantDiv.id = `assistant-${subject}`;
                    assistantDiv.innerHTML = `<h3>${toTitleCase(subject)} AI</h3><div class="messages"></div>`;
                    document.body.appendChild(assistantDiv);
                    document.getElementById('chat-box').innerHTML += `<p class="ai-response">${toTitleCase(data["subject"])} ${data["message"]}</p>`;
                });
        });

        document.getElementById('chat-form').addEventListener('submit', function (e) {
            e.preventDefault();
            const message = document.getElementById('message').value;
            const subjectInput = document.getElementById('subject').value;
            const subject = subjectInput || 'general';
            // Show the loading spinner
            document.getElementById('loading-spinner').style.display = 'block';
            fetch('/chat', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify({ message, subject })
            }).then(response => response.json())
                .then(data => {
                    let ai_responses = data["responses"];
                    document.getElementById('chat-box').innerHTML += `<div class="message user-message">You: ${message}</div>`;
                    for (const [subject, response] of Object.entries(data.responses)) {
                        const assistantDiv = document.getElementById(`assistant-${subject}`);
                        if (assistantDiv) {
                            assistantDiv.querySelector('.messages').innerHTML += `<div class="message ai-message"><strong>${toTitleCase(subject)}:</strong><div>${response}</div></div>`;
                            document.getElementById(`tab-${subject}`).classList.add('has-message');
                            assistantDiv.classList.add('visible');
                        } else {
                            document.getElementById('chat-box').innerHTML += `<div class="message ai-message"><strong>${toTitleCase(subject)}:</strong><div>${response}</div></div>`;
                        }
                    }
                    document.getElementById('message').value = '';
                    // Hide the loading spinner
                    document.getElementById('loading-spinner').style.display = 'none';
                });
        });
        function toTitleCase(str) {
            return str.replace(/\w\S*/g, function (txt) {
                return txt.charAt(0).toUpperCase() + txt.substr(1).toLowerCase();
            });
        }
    </script>
</body>

</html>